<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="ms-md-5 my-3 text-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#recoveryModal">
        <f:translate key="reset_password"/>
    </button>
</div>

<div class="modal fade" id="recoveryModal" tabindex="-1" aria-labelledby="recoveryModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="recoveryModal">
                    <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <f:form action="recovery" method="post">
                <div class="modal-body">
                    <fieldset>
                        <p>
                            <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_reset_message'}"/>
                        </p>

                        <f:render partial="ValidationErrors"/>

                        <div class="mb-3">
                            <label for="InputUsername" class="form-label"><f:translate key="username"/></label>
                            <f:form.textfield name="userIdentifier" required="true" class="form-control" id="InputUsername"/>
                            <div id="emailHelp" class="form-text"><f:translate key="enter_your_data"/></div>
                        </div>

                        <f:form.submit value="{f:translate(key: 'reset_password')}" class="btn btn-primary"/>

                        <f:comment>
                            <a href="{f:uri.page(pageUid:'{f:translate(key: \'loginFormPid\')}')}"></a>
                        </f:comment>

                    </fieldset>
                </div>
                <div class="modal-footer">
                    <p>
                        <f:link.typolink parameter="{f:translate(key: 'loginFormPid')}" title="{f:translate(key: 'forgot_header_backToLogin')}"class="text-uppercase text-1 font-weight-bold text-color-dark">
                            <f:translate key="forgot_header_backToLogin"/>
                        </f:link.typolink>
                    </p>
                </div>
            </f:form>
        </div>
    </div>
</div>


</html>
