
$bootstrap-icons-font-file: "~bootstrap-icons/font/fonts/bootstrap-icons";
@import '~bootstrap-icons/font/bootstrap-icons.scss';

$color-primary: #65a30d;
$color-primary-hover: #2f7934;
$color-seconday: #014f77;

.module-body.t3js-module-body {
  height: calc(100% - 65px);
}

.clubmanager-backend-module {
  height: 100%;
  display: flex;
  flex-direction: column;

  > section {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    .card-body {
      > .dataTables_wrapper {
        display: flex !important;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;

        > * {
          flex-grow: 0;
          flex-shrink: 0;
        }

        > .dataTables_scroll {
          flex-grow: 1;
          flex-shrink: 1;
          display: flex !important;
          flex-direction: column;
          position: relative;

          > .dataTables_scrollBody > table > thead th,
          > .dataTables_scrollHead > .dataTables_scrollHeadInner > table > thead th {
            background: #333;
            font-size: 14px;
            padding: .5em 2em .5em .5em;
            color: #fff;
            vertical-align: middle;
            font-weight: 400;
            &::first-letter {
              text-transform: capitalize;
            }
            line-height: 1.2;
            white-space: nowrap;
          }

          > .dataTables_scrollBody {
            position: absolute !important;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;
            > table {
              > tbody {
                td {
                  padding: 5px 13px;
                  min-height: 30px;
                }
                td.dtr-control,
                th.dtr-control {
                  display: flex;
                  align-items: center;
                  column-gap: 5px;
                  &::before {
                    position: relative;
                    left: auto;
                    top: auto;
                  }
                }
                > tr {
                  &.even.selected,
                  &.odd.selected {
                    > *,
                    > .sorting_1 {
                      box-shadow: inset 0 0 0 9999px $color-primary;
                      i {
                        color: white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .dtr-inline.collapsed {
          tbody > tr {
            > td.dtr-control::before,
            > th.dtr-control::before {
              background-color: transparent;
              border: none;
              box-shadow: none;
              border-radius: 0;
              
              content: "\F4FA";
              
              font-family: "bootstrap-icons";
              font-weight: 400;
              font-size: 14px;
              padding-right: 1em;
              line-height: 1;
              vertical-align: -0.125em;
              height: 1em;
              width: 1em;
              margin-top: 0;
              color: black;
              padding-right: 8px;
            }
            &.dt-hasChild {
              > td.dtr-control::before,
              > th.dtr-control::before {
                content: "\F2E6";
              }
            }
            &.selected {
              > td.dtr-control::before,
              > th.dtr-control::before {
                color:white;
              }
            }
          }
        }


      }
    }
  }

  .filter {
    max-width: 100%;
    display: flex;
    align-items: baseline;
    column-gap: 10px;
  }

  .dataTables_filter {
    float: none;
    flex-grow: 1;
  }

  div.dt-button-collection {
    border-radius: 2px;
  }
  .tools {
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    .dt-buttons {
      display: block;
      width: 100%;
      &::after {
        clear: both;
        content: "";
      }
      button {
        min-width: 4em;
      }
      .btn-right {
        float: right;
        margin-left: 0.167em;
      }
      .buttons-collection {
        padding-right: 15px;
      }
      .dt-down-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 6px;
      }
    }
  }

  .bem_toolbox {
    display: flex;
    align-items: center;
    column-gap: 1em;
    a.bem_t3link {
      font-size: 1.1666em;
      &:hover {
        text-decoration: none;
        color: blue;
      }
    }
    

    .bem_uid_display {
      font-style: italic;
      cursor: unset; // reset dataTable responsive
    }
  }  

  button.dt-button,
  button {
    margin: 0;
    line-height: 1.2;
    padding: .5em;
    font-size: 14px;
    background: $color-primary;
    color: white;
    border: none;
    
    &.active:not(.disabled),
    &.active:active:not(.disabled),
    &.active:active:not(.disabled):hover:not(.disabled),
    &:active:not(.disabled),
    &:active:not(.disabled):hover:not(.disabled),
    &:hover:not(.disabled),
    &:focus:not(.disabled) {
      background: $color-primary-hover;
      border: none;
      text-shadow: none;
    }
    &:focus:not(.disabled) {
      background: $color-primary-hover !important;
    }


    &.dt-button span.dt-down-arrow {
      color: white;
    }
  }

  div.dt-button-collection button.dt-button:active:not(.disabled),
  div.dt-button-collection button.dt-button.active:not(.disabled),
  div.dt-button-collection div.dt-button:active:not(.disabled),
  div.dt-button-collection div.dt-button.active:not(.disabled),
  div.dt-button-collection a.dt-button:active:not(.disabled),
  div.dt-button-collection a.dt-button.active:not(.disabled) {
    background: $color-primary;
  }

  .dt-button.btn-toggle {

    &::before {
      content: "\F584";
      font-family: "bootstrap-icons";
      font-weight: 400;
      font-size: 14px;
      padding-right: 1em;
      line-height: 1;
      vertical-align: -0.125em;
    }
    &.active:not(.disabled) {
      &::before {
        content: "\F26D";
      }
    }
  }

  .buttons-columnVisibility.active {
    background: $color-primary;
  }
  .buttons-columnVisibility:not(.active) {
    background: $color-primary-hover;
  }

  select {
    height: calc(1.8125rem + 2px);
    border-radius: 2px;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border: none;
    max-width: 100%;
  }
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5px;

    h3 {
      margin: 0;
    }
    select {
      background-color: white;
      font-weight: bold;
      border: 1px solid lightgray;
    }
    .right {
      flex-grow: 1;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  div.dtsp-panesContainer {
    button {
      color: black;
      border: none;
      &:active:not(.disabled),
      &:active:not(.disabled):hover:not(.disabled),
      &:hover:not(.disabled),
      &:focus:not(.disabled) {
        background: transparent !important;
        border: none;
        text-shadow: none;
      }
    }
  }
}
