// im .build ordner:
// npm i
// npm run watch
@use "bootstrap-icons/font/bootstrap-icons" with (
  $bootstrap-icons-font-file: "bootstrap-icons/font/fonts/bootstrap-icons"
);
@use "content";
@use "blocked-content";

.social-media-bar {

  // Facebook
  .socialmedia-type-0 {
    background-color: #3b5998;
  }

  // Instagram
  .socialmedia-type-1 {
    background-color: #ac2bac;
  }

  // Youtube
  .socialmedia-type-2 {
    background-color: #dd4b39;
  }
  // Twitter
  .socialmedia-type-3 {
    background-color: #55acee;
  }
}
