<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend/Default"/>

<f:section name="content">
    <div class="cm-advertising__panel">
        <h1 class="cm-advertising__title">
            <f:translate key="LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.title"/>
        </h1>
        <h2 class="cm-advertising__subtitle">
            <f:translate key="LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.title"/>
        </h2>
        <p class="lead cm-advertising__lead">
            {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.lead_intro')}

            <f:if condition="{counts._both}">
                <br>
                <f:then>
                    <f:translate
                            key="LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.lead_full"
                            arguments="{0:counts.tx_clubmanager_domain_model,1:counts.category_relations}"/>
                </f:then>
                <f:else>
                    {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.lead_none')}
                </f:else>
            </f:if>
        </p>

        <f:be.infobox title="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.tip')}" state="0">
            <p>
                {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.tip.text')}<br/>
                <a href="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.tip.link.url')}" target ="_blank" class="btn btn-default cm-advertising__cta">
                    <core:icon identifier="actions-link"/>
                    {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.tip.link.text')}
                </a>
            </p>
        </f:be.infobox>

        <h3 class="cm-advertising__section-title">
            {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.subtitle')}
        </h3>
        <h4 class="cm-advertising__features-title">{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.features.title')}</h4>
        <ul class="list-unstyled cm-advertising__features">
            <li><span class="cm-advertising__check">✓</span> {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.features.1')}</li>
            <li><span class="cm-advertising__check">✓</span> {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.features.2')}</li>
            <li><span class="cm-advertising__check">✓</span> {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.features.3')}</li>
            <li><span class="cm-advertising__check">✓</span> {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.features.6')}</li>
            <li><span class="cm-advertising__check">✓</span> {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.features.4')}</li>
            <li><span class="cm-advertising__check">✓</span> {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.memberlist.features.5')}</li>
        </ul>

        <f:be.infobox title="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.info')}" state="-1">
            <p>
                {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.info.text')}<br/>
                <a href="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.info.link.url')}" target ="_blank" class="btn btn-default cm-advertising__cta">
                    <core:icon identifier="actions-envelope"/>
                    {f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_be.xlf:module.info.link.text')}
                </a>
            </p>
        </f:be.infobox>
    </div>

</f:section>
</html>
