<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{typo3.systemConfiguration.backend.loginHighlightColor}">
    <f:then>
        <f:variable name="backgroundColor" value="{typo3.systemConfiguration.backend.loginHighlightColor}" />
    </f:then>
    <f:else>
        <f:variable name="backgroundColor" value="#FFFFFF" />
    </f:else>
</f:if>
<f:render partial="Header" arguments="{title:'Logindata'}" />
<body>
<span class="preheader">
    <f:translate key="mail.logindata.preheader" extensionName="clubmanager"/>
</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="background-color: {backgroundColor}">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <table role="presentation" class="main">
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <f:image src="{typo3.systemConfiguration.backend.loginLogo}" absolute="1" alt="{typo3.systemConfiguration.backend.loginLogoAlt}" />
                                        <h1>
                                            <f:translate key="mail.logindata.title" extensionName="clubmanager"/>
                                        </h1>
                                        <p>
                                            <f:translate key="mail.logindata.welcome" extensionName="clubmanager"/> {member.firstname} {member.lastname}! <br/><br/>
                                            <f:translate key="mail.logindata.text" extensionName="clubmanager"/> <br/><br/>

                                            <f:translate key="mail.logindata.access.title" extensionName="clubmanager"/> <br/>
                                            <strong><f:translate key="mail.logindata.access.number" extensionName="clubmanager"/></strong> {member.ident}<br/>

                                            <a href="{recoveryLink}"><f:translate key="mail.logindata.link.recovery" extensionName="clubmanager"/></a> <br/>

                                            <f:translate key="mail.logindata.link.recovery.validuntil" extensionName="clubmanager"/> {passwordRecoveryLifeTime->f:format.date(format: '%d.%m.%Y %H:%M')} <br/><br/>

                                            <a href="{loginLink}"><f:translate key="mail.logindata.link.login" extensionName="clubmanager"/></a>
                                        </p>

                                        <f:render partial="Signature" arguments="{_all}"/>

                                    </td>
                                </tr>
                                <f:render partial="Footer" arguments="{_all}"/>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>