<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{typo3.systemConfiguration.backend.loginHighlightColor}">
    <f:then>
        <f:variable name="backgroundColor" value="{typo3.systemConfiguration.backend.loginHighlightColor}" />
    </f:then>
    <f:else>
        <f:variable name="backgroundColor" value="#FFFFFF" />
    </f:else>
</f:if>
<f:render partial="Header" arguments="{title:'Logindata'}" />

<body>
    <span class="preheader">
        <f:translate key="mail.logindata.preheader" extensionName="clubmanager" />
    </span>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="background-color: {backgroundColor}">
        <tr>
            <td class="container">
                <div class="content">
                    <table role="presentation" class="main">
                        <tr>
                            <td class="wrapper">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                                    <f:render partial="Logo" arguments="{_all}" />

                                    <tr>
                                        <td style="padding-top:30px">
                                            <h1>
                                                <f:translate key="mail.logindata.title" extensionName="clubmanager" />
                                            </h1>
                                            <p>
                                                <f:translate key="mail.logindata.welcome" extensionName="clubmanager" />
                                                <f:if condition="{member.title}">
                                                    {member.title}
                                                </f:if>
                                                {member.firstname} {member.lastname}!
                                                <br /><br />
                                                <f:translate key="mail.logindata.text" extensionName="clubmanager" />
                                                <br /><br />

                                                <f:translate key="mail.logindata.access.title"
                                                    extensionName="clubmanager" /> <br />
                                                <strong>
                                                    <f:translate key="mail.logindata.access.number"
                                                        extensionName="clubmanager" />
                                                </strong> {member.ident} <br />
                                            </p>

                                        </td>
                                    </tr>
                                    <f:render partial="RecoveryLink" arguments="{backgroundColor:backgroundColor,recoveryLink:recoveryLink}" />
                                    <f:render partial="RecoveryLinkValid" arguments="{_all}" />
                                    <f:render partial="LoginLink" arguments="{_all}" />
                                    <f:render partial="Benefit" arguments="{_all}" />
                                    <f:render partial="Signature" arguments="{_all}" />
                                    <f:render partial="Footer" arguments="{_all}" />
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>