<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{typo3.systemConfiguration.backend.loginHighlightColor}">
  <f:then>
    <f:variable name="backgroundColor" value="{typo3.systemConfiguration.backend.loginHighlightColor}" />
  </f:then>
  <f:else>
    <f:variable name="backgroundColor" value="#FFFFFF" />
  </f:else>
</f:if>
<f:render partial="Header" arguments="{title:title}" />
<body>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="background-color: {backgroundColor}">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <table role="presentation" class="main">
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <f:image src="{typo3.systemConfiguration.backend.loginLogo}" absolute="1" alt="{typo3.systemConfiguration.backend.loginLogoAlt}" />
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:30px">
                    {htmlBody}
                  </td>
                </tr>
                <f:render partial="Footer" arguments="{_all}"/>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>