<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<tr>
    <td>
        <p>
            <ul>
                <li><f:translate key="LLL:EXT:clubmanager/Resources/Private/Language/mail_benefits.xlf:information" languageKey="{mailLanguage}" /></li>
                <li><f:translate key="LLL:EXT:clubmanager/Resources/Private/Language/mail_benefits.xlf:memberdata" languageKey="{mailLanguage}" /></li>
                <li><f:translate key="LLL:EXT:clubmanager/Resources/Private/Language/mail_benefits.xlf:image" languageKey="{mailLanguage}" /></li>
                <li><f:translate key="LLL:EXT:clubmanager/Resources/Private/Language/mail_benefits.xlf:news" languageKey="{mailLanguage}" /></li>
                <li><f:translate key="LLL:EXT:clubmanager/Resources/Private/Language/mail_benefits.xlf:changes" languageKey="{mailLanguage}" /></li>
            </ul>
        </p>
    </td>
</tr>
