<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<tr>
    <td class="content-block powered-by" style="text-align:center">
        <f:translate key="mail.footer.copyright" extensionName="clubmanager"/>

        <a href="{f:translate(key: 'mail.footer.url', extensionName: 'clubmanager')}" title="{f:translate(key: 'mail.footer.linktext', extensionName: 'clubmanager')}" target="_blank">
            <f:translate key="mail.footer.linktext" extensionName="clubmanager"/>
        </a>
    </td>
</tr>