<div class="footer">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block powered-by">
                <f:translate key="mail.footer.copyright" extensionName="clubmanager"/>

                <a href="https://quicko.software/" title="Quicko Clubmanager" target="_blank">
                    <f:translate key="mail.footer.linktext" extensionName="clubmanager"/>
                </a>
            </td>
        </tr>
    </table>
</div>