<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<tr>
    <td align="center" role="presentation"
        style="border:none;border-radius:24px;cursor:auto;padding:10px 25px;background-color:{backgroundColor}"
        valign="middle">
        <a href="{recoveryLink}"
           style="background-color:{backgroundColor};color:#ffffff;Margin:0;text-decoration:none;text-transform:none;"
           target="_blank">
            <f:translate key="mail.logindata.link.recovery" extensionName="clubmanager" />
        </a>
    </td>
</tr>

