<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <h2>{f:translate(key:'content_element.cities.header',extensionName:'clubmanager')} {city}</h2>
    <f:for each="{locations->v:iterator.sort(order: 'ASC', sortBy: 'lastname')}" as="location" iteration="iterator">
        <div class="col-12 mb-5">
            <f:render partial="Location/ListItem" arguments="{_all}"/>
        </div>
        <div class="divider mt-5 mb-5"><i class="fas fa-star"></i></div>
    </f:for>
</f:section>

</html>