<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Main">
    <ul class="cities">
        <f:for each="{cities->v:iterator.sort(order: 'ASC', sortBy: 'name')}" as="city" iteration="iterator">
            <li>
                <f:link.action action="detail" arguments="{city:city.name}" pluginName="city"
                               pageUid="{settings.detailCityPage}">
                    {city.name} ({city.counter})
                </f:link.action>
            </li>
        </f:for>
    </ul>
</f:section>

</html>