//
// Variables
// --------------------------------------------------
$border-color-default:    $default !default;
$border-color-primary:    $primary !default;
$border-color-secondary:  $secondary !default;
$border-color-tertiary:   $tertiary !default;
$border-color-quaternary: $quaternary !default;

$border-top-width:        10px !default;

$zindex-modal-backdrop:   1000;
$modal-backdrop-opacity:  0;

