<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
    <f:comment>
        <f:debug>{member}</f:debug>
    </f:comment>

    <f:variable name="levelName" value="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_db.xlf:tx_clubmanager_domain_model_member.level.{member.level}')}"/>
    <f:variable name="salutationName" value="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_db.xlf:tx_clubmanager_domain_model_member.salutation.{member.salutation}')}"/>
    <f:variable name="stateName" value="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_db.xlf:tx_clubmanager_domain_model_member.state.{member.state}')}"/>
    <f:variable name="levelColors" value="{f:if(condition: '{member.level} == 0', then: 'default')}{f:if(condition: '{member.level} == 10', then: 'secondary')}{f:if(condition: '{member.level} == 20', then: 'tertiary')}{f:if(condition: '{member.level} == 30', then: 'quaternary')}"/>

    <div class="row mb-5 pb-3">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <header class="card-header">
                    <div class="h2">
                        <span class="salutation">
                            {salutationName}
                        </span>
                        <f:if condition="{member.title}">
                            <span class="title">{member.title}</span>&nbsp;
                        </f:if>
                        <span class="firstname">{member.firstname}</span>&nbsp;<span class="lastname">{member.lastname}</span>
                    </div>

                    <f:if condition="{member.clubFunction}">
                        <div class="h5">
                            <span class="functionlabel">{f:translate(key:'content_element.member.label.clubfunction',extensionName:'clubmanager')}</span>
                            <span class="title">{member.clubFunction}</span>&nbsp;
                        </div>
                    </f:if>

                    <div class="h3">
                        <f:if condition="{member.ident}">
                            <span class="identlabel">{f:translate(key:'content_element.member.label.ident',extensionName:'clubmanager')}</span>&nbsp;<span class="ident">{member.ident}</span>
                        </f:if>
                    </div>

                    <div class="h4">
                        <span class="categorylabel">{f:translate(key:'content_element.member.label.category',extensionName:'clubmanager')}</span>
                        <strong>
                            <f:if condition="{member.categories}">
                                <f:then>
                                    <f:for each="{member.categories}" as="category" key="key" iteration="filterIterator">
                                        <f:if condition="{filterIterator.index}>0">
                                            <f:then>
                                                &bull; {category.title}
                                            </f:then>
                                            <f:else>
                                                {category.title}
                                            </f:else>
                                        </f:if>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    {f:translate(key:'content_element.member.standard.category',extensionName:'clubmanager')}
                                </f:else>
                            </f:if>
                        </strong>
                    </div>

                    <div class="h5">
                        <f:if condition="{member.state} > 0">
                            <span class="statelabel">{f:translate(key:'content_element.member.label.state',extensionName:'clubmanager')}</span>
                        </f:if>
                        <span class="state"> {stateName}</span>
                    </div>
                </header>

                <div class="card-body pt-3 pb-3">
                    <f:if condition="{member.starttime}">
                        <div class="mb-3">
                            <span class="levellabel btn btn-default">
                                {f:translate(key:'content_element.member.label.starttime',extensionName:'clubmanager')}
                            </span>
                            <span class="level btn btn-default'">
                                <f:format.date format="%d. %B %Y">{member.starttime}</f:format.date>
                            </span>
                        </div>
                    </f:if>

                    <div class="mb-3">
                        <span class="levellabel btn btn-default">
                            {f:translate(key:'content_element.member.label.level',extensionName:'clubmanager')}
                        </span>
                        <span class="level btn btn-{levelColors}">
                {levelName}
            </span>
                    </div>

                    <f:if condition="{member.reducedRate} == 1">
                        <div class="mb-3">
                            <span class="levellabel btn btn-default">
                                {f:translate(key:'content_element.member.label.reducedRate',extensionName:'clubmanager')}
                            </span>
                            <span class="level btn {f:if(condition: '{member.reducedRate} == 0', then: 'btn-default')}{f:if(condition: '{member.reducedRate} == 1', then: 'btn-warning')}">
                                {f:translate(key:'content_element.member.reducedRate.yes',extensionName:'clubmanager')}
                            </span>
                        </div>
                    </f:if>

                    <f:if condition="{member.cancellationWish} == 1">
                        <div class="mb-3">
                            <span class="levellabel btn btn-default">
                                {f:translate(key:'content_element.member.label.cancellationWish',extensionName:'clubmanager')}
                            </span>
                            <span class="level btn {f:if(condition: '{member.cancellationWish} == 0', then: 'btn-default')}{f:if(condition: '{member.cancellationWish} == 1', then: 'btn-warning')}">
                                {f:translate(key:'content_element.member.cancellationWish.yes',extensionName:'clubmanager')}
                            </span>
                        </div>
                    </f:if>

                    <f:if condition="{member.endtime}">
                        <div class="mb-3">
                            <span class="levellabel btn btn-default">
                                {f:translate(key:'content_element.member.label.endtime',extensionName:'clubmanager')}
                            </span>
                            <span class="level btn btn-warning'">
                                <f:format.date format="%d. %B %Y">{member.endtime}</f:format.date>
                            </span>
                        </div>
                    </f:if>

                    <f:if condition="{member.company}">
                        <h3 class="card-title mb-1">
                            <span class="company">{member.company}</span>
                        </h3>
                    </f:if>
                    <p class="card-text mb-2">
                        <span class="street">{member.street}</span><br/>
                        <span class="zip">{member.zip} </span> <span class="city">{member.city}</span><br/>
                        <span class="country">{member.country.shortNameLocal}</span>
                    </p>

                    <p class="card-text mb-2">
                        <span class="phone"><a href="tel:{member.phone}">{member.phone}</a></span><br/>
                        <span class="email">
                            <f:link.email email="{member.email}"/>
                        </span>
                    </p>
                    <a href="javascript:history.back()">
                        <div class="btn btn-default">
                            {f:translate(key:'content_element.member.label.back',extensionName:'clubmanager')}
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="card">
                <f:if condition="{member.mainLocation}">
                    <f:then>
                        <div class="card-header">
                            <span class="h4">{f:translate(key:'content_element.member.label.mainLocation',extensionName:'clubmanager')}</span>
                        </div>
                        <f:render partial="Location/MemberItem" arguments="{location:member.mainlocation}"/>
                    </f:then>
                    <f:else>
                        <div class="card-header">
                            <span class="h4">{f:translate(key:'content_element.member.label.noLocation',extensionName:'clubmanager')}</span>
                        </div>
                    </f:else>
                </f:if>
                <f:if condition="{member.subLocations -> f:count()}">
                    <div class="card-header">
                        <span class="h5">{f:translate(key:'content_element.member.label.subLocation',extensionName:'clubmanager')}</span>
                    </div>
                    <f:for each="{member.subLocations}" as="sublocation">
                        <f:render partial="Location/MemberItem" arguments="{location:sublocation}"/>
                    </f:for>
                </f:if>
            </div>
        </div>
    </div>
</f:section>
</html>