<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
<f:comment>
        <f:debug>{location}</f:debug>
</f:comment>

    <f:variable name="levelName" value="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_db.xlf:tx_clubmanager_domain_model_member.level.{location.member.level}')}"/>
    <f:variable name="salutationName" value="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_db.xlf:tx_clubmanager_domain_model_member.salutation.{location.salutation}')}"/>
    <f:variable name="levelColors" value="{f:if(condition: '{location.member.level} == 0', then: 'default')}{f:if(condition: '{location.member.level} == 10', then: 'secondary')}{f:if(condition: '{location.member.level} == 20', then: 'tertiary')}{f:if(condition: '{location.member.level} == 30', then: 'quaternary')}"/>

    <f:if condition="{location.kind}==0">
        <f:then>
            <div class="card border-color-{levelColors}" itemscope itemtype="http://schema.org/LocalBusiness" id="location-{location.uid}">
                <f:if condition="{location.member.categories}">
                    <f:for each="{location.member.categories}" as="memberCategory" iteration="memberIterator">
                        <f:if condition="{memberCategory.uid} == 13 || {memberCategory.uid} == 14 || {memberCategory.uid} == 15 ">
                            <f:variable name="hasLicense" value="TRUE" />
                        </f:if>
                    </f:for>
                    <f:if condition="{hasLicense}">
                        <div class="card-header">
                            <ul class="license list-inline">
                                <f:for each="{location.member.categories}" as="memberCategory" iteration="memberIterator">
                                    <f:if condition="{memberCategory.uid}==13">
                                        <li class="list-inline-item">{f:translate(key:'content_element.member.license.badgeA',extensionName:'clubmanager')}</li>
                                    </f:if>
                                    <f:if condition="{memberCategory.uid}==14">
                                        <li class="list-inline-item">{f:translate(key:'content_element.member.license.badgeB',extensionName:'clubmanager')}</li>
                                    </f:if>
                                    <f:if condition="{memberCategory.uid}==15">
                                        <li class="list-inline-item">{f:translate(key:'content_element.member.license.badgeC',extensionName:'clubmanager')}</li>
                                    </f:if>
                                </f:for>
                            </ul>
                        </div>
                    </f:if>
                </f:if>
        </f:then>
        <f:else>
            <div class="card border-color-default" itemscope itemtype="http://schema.org/LocalBusiness" id="location-{location.uid}">
        </f:else>
    </f:if>

    <header class="card-header row g-0">
        <div class="col-sm-6">
        <span class="h2 salutation">
            {salutationName}
        </span>
            <span class="h2 font-weight-bold mb-0 pt-0 mt-0" itemprop="name">
            <f:if condition="{location.title}">
                <span class="title">{location.title} </span>
            </f:if>
            <span class="firstname">{location.firstname} </span>
            <f:if condition="{location.middlename}">
                <span class="title">{location.middlename} </span>
            </f:if>
            <span class="lastname">{location.lastname}</span>
        </span>

            <f:if condition="{location.categories}">
                <f:then>
                    <p class="text-1 mb-0">
                        <strong>
                            <f:for each="{location.categories}" as="locationCategory" key="key" iteration="filterIterator">
                                <f:if condition="{filterIterator.index}>0">
                                    <f:then>
                                        &bull; {locationCategory.title}
                                    </f:then>
                                    <f:else>
                                        {locationCategory.title}
                                    </f:else>
                                </f:if>
                            </f:for>
                        </strong>
                    </p>
                </f:then>
                <f:else>
                    <f:if condition="{location.member.categories}">
                        <p class="text-1 mb-0">
                            <strong>
                                <f:for each="{location.member.categories}" as="category" key="key" iteration="filterIterator">
                                    <f:if condition="{filterIterator.index}>0">
                                        <f:then>
                                            &bull; {category.title}
                                        </f:then>
                                        <f:else>
                                            {category.title}
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </strong>
                        </p>
                    </f:if>
                </f:else>
            </f:if>
        </div>

        <div class="col-sm-6 text-end">
            <f:if condition="{location.kind}==0">
                <f:then>
                <span class="level btn btn-{levelColors}">
                    {levelName}
                </span>
                </f:then>
                <f:else>
                <span class="level text-info">
                    {f:translate(key:'content_element.member.label.subLocation',extensionName:'clubmanager')}
                </span>
                </f:else>
            </f:if>
        </div>
    </header>

    <div class="row g-0" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <div class="col-sm-4 col-md-3" itemprop="photo">
            <f:if condition="{location.image}">
                <f:then>
                    <f:image
                            class="location-image img-fluid"
                            alt="{location.title} {location.firstname} {location.lastname}"
                            image="{location.image}"
                            width="300c"
                            height="300c"/>
                </f:then>
                <f:else>
                    <f:image
                            class="location-image img-fluid"
                            alt="{location.title} {location.firstname} {location.lastname}"
                            src="{f:uri.resource(path: 'Images/placeholder-{location.salutation}.png',extensionName:'clubmanager')}"
                            width="300c"
                            height="300c"/>
                </f:else>
            </f:if>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-5">
            <div class="card-body pt-3 pb-3">
                <f:if condition="{location.company}">
                    <h3 class="card-title mb-1 text-4 font-weight-bold">
                        <span class="company" itemprop="parentOrganization">{location.company}</span>
                    </h3>
                </f:if>
                <p class="card-text mb-2">
                    <span class="street" itemprop="streetAddress">{location.street}</span>
                    <span class="building" itemprop="streetBuilding">{location.building}</span><br/>
                    <span class="zip" itemprop="postalCode">{location.zip} </span>
                    <span class="city" itemprop="addressLocality">{location.city}</span><br/>
                    <span class="state" itemprop="addressState">{location.stateName}</span><br/>
                    <span class="country" itemprop="addressCountry">{location.country.shortNameLocal}</span>
                </p>

                <p class="card-text mb-2">
                    <span class="latitude" itemprop="latitude">Latitude: {location.latitude}</span>&nbsp;
                    <span class="longitude" itemprop="longitude">Longitude: {location.longitude}</span>
                </p>

                <f:if condition="{location.phone || location.mobile || location.fax || location.email || location.url}">
                    <p class="card-text mb-2">
                        <f:if condition="{location.phone}">
                            {f:translate(key:'content_element.location.label.phone',extensionName:'clubmanager')} <span class="phone" itemprop="telephone"><a href="tel:{location.phone}">{location.phone}</a></span>
                            <br/>
                        </f:if>
                        <f:if condition="{location.mobile}">
                            {f:translate(key:'content_element.location.label.mobile',extensionName:'clubmanager')}
                            <span class="mobile" itemprop="mobile">
                                <a href="tel:{location.mobile}">{location.mobile}</a>
                            </span>
                            <br/>
                        </f:if>
                        <f:if condition="{location.fax}">
                            {f:translate(key:'content_element.location.label.fax',extensionName:'clubmanager')}
                            <span class="fax" itemprop="faxNumber">
                                {location.fax}
                            </span>
                            <br/>
                        </f:if>
                        <f:if condition="{location.email}">
                            {f:translate(key:'content_element.location.label.email',extensionName:'clubmanager')} <br class="d-none d-sm-block d-md-none"/>
                            <span itemprop="email">
                                <f:link.email email="{location.email}"/>
                            </span>
                            <br/>
                        </f:if>
                        <f:if condition="{location.website}">
                            {f:translate(key:'content_element.location.label.website',extensionName:'clubmanager')} <br class="d-none d-sm-block d-md-none"/>
                            <span itemprop="url">
                                <f:link.external uri="{location.website}" class="external-link url" defaultScheme="https">{location.website}</f:link.external>
                            </span><br/>
                        </f:if>
                    </p>
                </f:if>

                <p class="card-text mb-2">
                    <f:if condition="{location.company}">
                        <f:then>
                            <a href="https://maps.google.com/?q={location.company},{location.street},{location.zip},{location.city}"
                               target="_blank">{f:translate(key:'content_element.member.label.route',extensionName:'clubmanager')}</a>
                        </f:then>
                        <f:else>
                            <a href="https://maps.google.com/?q={location.street},{location.zip},{location.city}"
                               target="_blank">{f:translate(key:'content_element.member.label.route',extensionName:'clubmanager')}</a>
                        </f:else>
                    </f:if>

                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-3 text-center">
            <f:if condition="{location.socialmedia}">
                <f:render partial="Socialmedia/Bar" arguments="{socialmedia:location.socialmedia}" />
            </f:if>
            <f:if condition="{location.member.categories}">
                <f:for each="{location.member.categories}" as="category">
                    <f:if condition="{category.uid}==13">
                        <img src="{f:uri.resource(path: 'Badges/Quicko-LizenzBadge-Dummy-A.svg', extensionName: 'clubmanager')}"
                             alt="{f:translate(key:'content_element.member.license.badgeA',extensionName:'clubmanager')}: {location.title} {location.firstname} {location.lastname}"
                             class="img-fluid p-3" width="150px" height="150px">
                    </f:if>
                    <f:if condition="{category.uid}==14">
                        <img src="{f:uri.resource(path: 'Badges/Quicko-LizenzBadge-Dummy-B.svg', extensionName: 'clubmanager')}"
                             alt="{f:translate(key:'content_element.member.license.badgeB',extensionName:'clubmanager')}: {location.title} {location.firstname} {location.lastname}"
                             class="img-fluid p-3" width="150px" height="150px">
                    </f:if>
                    <f:if condition="{category.uid}==15">
                        <img src="{f:uri.resource(path: 'Badges/Quicko-LizenzBadge-Dummy-C.svg', extensionName: 'clubmanager')}"
                             alt="{f:translate(key:'content_element.member.license.badgeC',extensionName:'clubmanager')}: {location.title} {location.firstname} {location.lastname}"
                             class="img-fluid p-3" width="150px" height="150px">
                    </f:if>
                </f:for>
            </f:if>
        </div>

        <f:if condition="{location.youtubeVideo}">
            <f:render partial="Youtube" arguments="{youtubeVideoId:location.youtubeVideo,type:'youtube'}"/>
        </f:if>

        <f:if condition="{location.info}">
            <div class="col-12 p-5">
                <f:format.html>{location.info}</f:format.html>
            </div>
        </f:if>

        <f:if condition="{location.kind}==0">
            <f:then>
                <div class="card-footer row g-0">
                    <div class="col-sm-6">
                        <a href="javascript:history.back()">
                            <div class="btn btn-default">
                                {f:translate(key:'content_element.member.label.back',extensionName:'clubmanager')}
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 text-end">
                        <f:if condition="{location.member.subLocations} > 0">
                            <f:for each="{location.member.subLocations}" as="child" iteration="childIterator">
                                <div class="{f:if(condition: '{childIterator.isLast}', then: ' ', else: 'pb-3')}"  itemprop="subOrganization">
                                    <f:link.action action="detail" arguments="{location:child}"
                                                   extensionName="clubmanager"
                                                   pluginName="location" controller="Location"
                                                   pageUid="{settings.detailLocationPage}"
                                                   class="btn btn-default">
                                        <strong>{childIterator.cycle}. {f:translate(key:'content_element.member.label.subLocation',extensionName:'clubmanager')}:</strong>
                                        <f:if condition="{child.company}">
                                            <f:then>
                                                {child.company} -
                                            </f:then>
                                            <f:else>
                                                {child.title} {child.firstname} {child.lastname} -
                                            </f:else>
                                        </f:if>
                                        {child.zip} {child.zip} {child.city}
                                    </f:link.action>
                                </div>
                            </f:for>
                        </f:if>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="card-footer row g-0">
                    <div class="col-sm-6">
                        <a href="javascript:history.back()">
                            <div class="btn btn-default">
                                {f:translate(key:'content_element.member.label.back',extensionName:'clubmanager')}
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 text-end">
                        <f:link.action action="detail"
                                       arguments="{location:location.member.mainLocation}"
                                       extensionName="clubmanager"
                                       pluginName="location"
                                       controller="Location"
                                       pageUid="{settings.detailLocationPage}"
                                       class="btn btn-{levelColors}">
                            <strong>{f:translate(key:'content_element.member.label.mainLocation',extensionName:'clubmanager')}:</strong>
                            <f:if condition="{location.member.mainLocation.company}">
                                <f:then>
                                    {location.member.mainLocation.company} -
                                </f:then>
                                <f:else>
                                    {location.member.mainLocation.title} {location.member.mainLocation.firstname} {location.member.mainLocation.lastname} -
                                </f:else>
                            </f:if>
                            {location.member.mainLocation.zip} {location.member.mainLocation.city}
                        </f:link.action>
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>
</div>

</f:section>
</html>