<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">

    <div class="row">
        <f:for each="{paginator.paginatedItems}" as="location">
            <f:variable name="levelName" value="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_db.xlf:tx_clubmanager_domain_model_member.level.{location.member.level}')}"/>
            <f:variable name="salutationName" value="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_db.xlf:tx_clubmanager_domain_model_member.salutation.{location.salutation}')}"/>

            <div class="col-12 mb-5">
                <f:render partial="Location/ListItem" arguments="{_all}"/>
            </div>
        </f:for>
    </div>

    <f:render partial="Paging.html" arguments="{paging: paging, pages: pages, paginator: paginator}"/>
</f:section>

</html>