<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="card" id="member-{member.uid}">
    <header class="card-header">
        <div class="h3">
            <f:link.action action="detail" arguments="{location:member.mainLocation}" pluginName="member" controller="Member"
                           pageUid="{settings.detailMemberPage}">
                <span class="salutation">
                    {salutationName}
                </span>
                <f:if condition="{member.title}">
                    <span class="title">{member.title}</span>&nbsp;
                </f:if>
                <span class="firstname">{member.firstname}</span>&nbsp;<span class="lastname">{member.lastname}</span>
            </f:link.action>
        </div>

        <div class="h4">
            <f:if condition="{member.ident}">
                <span class="identlabel">{f:translate(key:'content_element.member.label.ident',extensionName:'clubmanager')}</span>&nbsp;<span class="ident">{member.ident}</span>
            </f:if>
        </div>

        <div class="h5">
            <span class="categorylabel">{f:translate(key:'content_element.member.label.category',extensionName:'clubmanager')}</span>
            <strong>
                <f:if condition="{member.categories}">
                    <f:then>
                        <f:for each="{member.categories}" as="category" key="key" iteration="filterIterator">
                            <f:if condition="{filterIterator.index}>0">
                                <f:then>
                                    &bull; {category.title}
                                </f:then>
                                <f:else>
                                    {category.title}
                                </f:else>
                            </f:if>
                        </f:for>
                    </f:then>
                    <f:else>
                        {f:translate(key:'content_element.member.standard.category',extensionName:'clubmanager')}
                    </f:else>
                </f:if>
            </strong>
        </div>
    </header>

    <div class="card-body">
        <div class="mb-3">
            <f:comment>
                /* Da im Moment nur Mitglieder mit dem Status "Aktiv" eingeblendet werden, ist das erstmal auskommentiert. Ticket ist geschrieben */
                <f:if condition="{member.state} > 0">
                    <span class="statelabel">{f:translate(key:'content_element.member.label.state',extensionName:'clubmanager')}</span>
                </f:if>
                <span class="state"> {stateName}</span>
                <br />
            </f:comment>


            <span class="levellabel btn btn-default">
                {f:translate(key:'content_element.member.label.level',extensionName:'clubmanager')}
            </span>
            <span class="level btn btn-{f:if(condition: '{member.level} == 0', then: 'default')}{f:if(condition: '{member.level} == 10', then: 'primary')}{f:if(condition: '{member.level} == 20', then: 'secondary')}{f:if(condition: '{member.level} == 30', then: 'tertiary')}">
                {levelName}
            </span>
        </div>

        <p class="card-text mb-2">
            <span class="phone"><a href="tel:{member.phone}">{member.phone}</a></span><br />
            <span class="email"><f:link.email email="{member.email}"/></span>
        </p>
        <f:link.action action="detail" arguments="{location:member.mainLocation}" pluginName="member" controller="Member"
                       pageUid="{settings.detailMemberPage}" class="btn btn-{f:if(condition: '{member.level} == 0', then: 'default')}{f:if(condition: '{member.level} == 10', then: 'primary')}{f:if(condition: '{member.level} == 20', then: 'secondary')}{f:if(condition: '{member.level} == 30', then: 'tertiary')}">
            {f:translate(key:'content_element.member.detail.button',extensionName:'clubmanager')}
        </f:link.action>
    </div>
</div>

</html>