<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="social-media-bar">
  <f:for each="{socialmedia}" as="item">
    <a class="btn btn-primary socialmedia-type-{item.type}" role="button" href="{item.url}" title="{f:translate(key:'LLL:EXT:clubmanager/Resources/Private/Language/locallang_db.xlf:tx_clubmanager_domain_model_socialmedia.type.{item.type}')}">
      <f:switch expression="{item.type}">
        <f:case value="0"><i class="bi bi-facebook"></i></f:case>
        <f:case value="1"><i class="bi bi-instagram"></i></f:case>
        <f:case value="2"><i class="bi bi-youtube"></i></f:case>
        <f:case value="3"><i class="bi bi-twitter"></i></f:case>
        <f:defaultCase><i class="custom-type-{item.type}"></i></f:defaultCase>
      </f:switch>
    </a>
  </f:for>
</div>

</html>